body{
    background-image:url('../image/BG.gif');
	background-repeat:repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    background-color: orange;
}

ht {
    background-color: orange;
    font-family: "Lucida Console", Monaco, monospace;
    padding: 30px 30px;
    border-radius: 10px;
}

li {
    float: left;
    background-color: orange;
}

li.righter{
    float: right;
    background-color: orange;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 19px 23px;
    border-radius: 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(206, 0, 0, 0.781);
}

li a:hover:not(:not(.active)) {
    background-color: #362101;
}

li a.active {
    color: white;
    background-color: #bb7738;
}

h1{
    text-align: center;
    font-family:"Comic Sans MS", cursive, sans-serif
}

div{
    animation: In 1s;
    -o-animation: In 1s;
    -webkit-animation: In 1s;
	display: block;
    text-align: center;
    background-color: rgba(161, 161, 161, 0.616);
    border-radius: 10px;
    margin: 10px;
}

div.card {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #359438;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

div.header {
    border-radius: 10px;
    margin-right: 0px;
    margin-left:0px;
    background-color: #4CAF50;
    color: white;
    width: 230px;
    padding: 10px;
    font-size: 40px;
}

div.container {
    border-radius: 10px;
    padding: 10px;
    width: 230px;
    background-color: #359438;
    color: rgb(155, 154, 154);
    margin-right: 0px;
    margin-left:0px;
}

#betterbutton{
    border: 0px;
    border-radius: 5px;
    background-color: #4CAF50;
}

#right {
    float:right;
}

@keyframes In{
    from {opacity:0}
    to {opacity:1}
}

@-o-keyframes In{
    from {opacity:0}
    to {opacity:1}
}

@-webkit-keyframes In{
    from {opacity:0}
    to {opacity:1}
}

.leftcolumn {   
    float: left;
    width: 70%;
  }
   
.rightcolumn {
    float: right;
    width: 20%;
    padding-left: 20px;
}
